<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <title>Spostats</title>

  </head>
  <body>
    <div class="fixedindexelements">
      <div id="noise"></div>

      <img
        src="https://framerusercontent.com/images/aDRrbalfiC1TgIiW5cd3ZdU5FBA.png"
        id="gradient"
      />

      <div id="index-obj-one"></div>
      <div id="index-obj-two"></div>

      {% block fixed %} {% endblock %}
    </div>

    <section class="index-section">
      <header class="header">
        <div id="headerlist">
          <a href="/"><h1>Spostats</h1></a>

          <ul>
            <li onclick="toggleHoverList(this)">Top Songs
              <div class="onhoverlist">
                <ol>
                  <li><a href="/alltimesongs">Top Songs (All Time)</a></li>
                  <li><a href="/mediumsongs">Top Songs (Last 6 months)</a></li>
                  <li><a href="/shortsongs">Top Songs (Last 4 weeks)</a></li>
                </ol>
              </div>
            </li>
            <li onclick="toggleHoverList(this)">Top Artists
              <div class="onhoverlist">
                <ol>
                  <li><a href="/alltimeartists">Top Artists (All Time)</a></li>
                  <li><a href="/mediumartists">Top Artists (Last 6 months)</a></li>
                  <li><a href="/shortartists">Top Artists (Last 4 weeks)</a></li>
                </ol>
              </div>
            </li>
          </ul>
        </div>

        <div class="headerbutton">
          <a href="https://www.spotify.com"
            ><img
              src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png"
              alt=""
          /></a>
          <a href="/logout">
            {% if "TOKEN_INFO" in session %}
              <img src="{{ url_for('static', filename='logout.png')}}" alt="">
            {% endif %}
          </a>
        </div>
      </header>
      

      {% block main %} {% endblock main %}
    </section>



    <script>
      function toggleHoverList(element) {
        var isActive = element.classList.toggle('active');
  
        // Ocultar otras listas desplegables cuando se hace clic en un elemento
        var allHoverItems = document.querySelectorAll('.mobile-hover');
        allHoverItems.forEach(function(item) {
          if (item !== element) {
            item.classList.remove('active');
          }
        });
      }
    </script>
  </body>
</html>
